<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bluetoothexample">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BluetoothExample">
        <activity
            android:name=".AdicaoCreditos"
            android:exported="false" />
        <activity
            android:name=".ConfirmacaoCompra"
            android:exported="false" />
        <activity
            android:name=".SelecaoPesos"
            android:exported="false" />
        <activity
            android:name=".SelecaoProdutos"
            android:exported="false" />
        <activity
            android:name=".TelaConexao"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>